<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" 
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
 
<!-- 	<servlet> -->
<!--         <servlet-name>downloadServlet</servlet-name> -->
<!--         <servlet-class> -->
<!--             com.mine.controller.DownloadServlet -->
<!--         </servlet-class> -->
<!--         <load-on-startup>3</load-on-startup> -->
<!--     </servlet> -->
<!--     <servlet-mapping> -->
<!--         <servlet-name>downloadServlet</servlet-name>  -->
<!--         <url-pattern>*/downloadZip</url-pattern> -->
<!--     </servlet-mapping> -->
    
	<filter>
	    	<filter-name>AdminFilter</filter-name>
	    	<filter-class>com.mine.filter.AdminFilter</filter-class>
	    </filter>
	    <filter-mapping>   
	    	<filter-name>AdminFilter</filter-name>
	    	<url-pattern>/admin/*</url-pattern>  
	    </filter-mapping>
	    
	    <filter>
	    	<filter-name>NotFoundFilter</filter-name>
	    	<filter-class>com.mine.filter.NotFoundFilter</filter-class>
	    </filter>
	    <filter-mapping>   
	    	<filter-name>NotFoundFilter</filter-name>
	    	<url-pattern>/notFound.jsp</url-pattern>  
	    	<dispatcher>ERROR</dispatcher>
	    </filter-mapping>
	    <error-page>
	    	<error-code>404</error-code>
	    	<location>/notFound.jsp</location>
	    </error-page>


		<filter>
	    	<filter-name>EncodeFilter</filter-name>
	    	<filter-class>com.mine.filter.EncodeFilter</filter-class>
	    	<init-param>
	    		<param-name>Encode</param-name>
	    		<param-value>UTF-8</param-value>
	    	</init-param>
    	</filter>
    	<filter-mapping>
	    	<filter-name>EncodeFilter</filter-name>
	    	<url-pattern>/*</url-pattern> <!-- 配置过滤路径 -->
    	</filter-mapping>


</web-app>